* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(23, 23, 152, 1) 25%, rgba(203, 12, 113, 1) 75%, rgba(0, 0, 0, 1) 100%);
}

.container {
  width: 100%;
  height: 100%;
}
.bg2 {
  width: 100%;
  height: 100%;
}
.avir {
  animation-name: cngcolor1;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

.dvir {
  animation-name: cngcolor2;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
@keyframes cngcolor1 {
  0% {
    background: radial-gradient(circle, #fff, #ff7, #fff, #fff, #ff7);
    opacity: 0;
  }
  100% {
    background: radial-gradient(circle, #fff, #ff7, #fff, #fff, #ff7);
    opacity: 1;
  }
}
@keyframes cngcolor2 {
  0% {
    background: radial-gradient(circle, #fff, #ff7, #fff, #fff, #ff7);
    opacity: 1;
  }
  100% {
    background: radial-gradient(circle, #fff, #ff7, #fff, #fff, #ff7);
    opacity: 0;
  }
}

.covid {
  width: 600px;
  height: 600px;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.maincircle {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #c22;
}
.avirBody {
  animation-name: cngBody1;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.dvirBody {
  animation-name: cngBody2;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
@keyframes cngBody1 {
  0% {
    width: 70%;
    height: 70%;
    background-color: #c22;
  }
  100% {
    width: 50%;
    height: 50%;
    background-color: #cc2;
  }
}
@keyframes cngBody2 {
  0% {
    width: 50%;
    height: 50%;
    background-color: #cc2;
  }
  100% {
    width: 70%;
    height: 70%;
    background-color: #c22;
  }
}

.eyes {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.eye {
  position: relative;
  top: -15%;
  width: 200px;
  height: 100px;
  border-radius: 0 0 100px 100px;
  background-color: #fff;
  overflow: hidden;
}
.avirEye {
  animation-name: cngEye1;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.dvirEye {
  animation-name: cngEye2;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

@keyframes cngEye1 {
  0% {
    width: 200px;
    border-radius: 0 0 100px 100px;
  }
  100% {
    width: 100px;
    border-radius: 100px 100px 100px 100px;
  }
}
@keyframes cngEye2 {
  0% {
    width: 100px;
    border-radius: 100px 100px 100px 100px;
  }
  100% {
    width: 200px;
    border-radius: 0 0 100px 100px;
  }
}

#left {
  margin-right: 30px;
  transform: rotate(30deg);
}
#right {
  margin-left: 30px;
  transform: rotate(-30deg);
}
.pupils {
  display: block;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 3;
  border-radius: 50%;
  background-color: #000;
  border: 10px solid #c22;
  position: absolute;
  transform: translate(-50%, -50%);
}
.avirPupil {
  animation-name: cngPupil1;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.dvirPupil {
  animation-name: cngPupil2;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
@keyframes cngPupil1 {
  0% {
    border: 10px solid #c22;
  }
  100% {
    border: 10px solid #cc2;
  }
}
@keyframes cngPupil2 {
  0% {
    border: 10px solid #cc2;
  }
  100% {
    border: 10px solid #c22;
  }
}
#mouth {
  position: relative;
  left: 50%;
  top: -40%;
  width: 40%;
  height: 20%;
  margin-left: -20%;
  border-radius: 5% 5% 5% 5%;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #a22;
  box-shadow: inset 0px 10px 30px 10px rgba(0, 0, 0, 1);
  transition: 0.3s;
}
.avirMouth {
  animation-name: cngMouth1;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.dvirMouth {
  animation-name: cngMouth2;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
@keyframes cngMouth1 {
  0% {
    border-radius: 5% 5% 5% 5%;
  }
  100% {
    border-radius: 5% 5% 50% 50%;
  }
}
@keyframes cngMouth2 {
  0% {
    border-radius: 5% 5% 50% 50%;
  }
  100% {
    border-radius: 5% 5% 5% 5%;
  }
}

#mouth:focus {
  background-color: #a22;
  box-shadow: inset 0px 10px 30px 10px rgba(0, 0, 0, 1);
  z-index: 1;
}
#mouth:hover {
  background-color: #fe3;
  box-shadow: inset 0px 10px 30px 10px #000;
  z-index: 3;
}
#mouth:active {
  background-color: #fe3;
  box-shadow: inset 0px 10px 30px 10px rgba(0, 0, 0, 0.5), 0 0 50px 10px rgba(255, 238, 51, 0.5);
  z-index: 1;
}

.tooth {
  position: relative;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #c22;
}
.spores {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 5%;
  background-color: #c22;
  margin-left: -2.5%;
}
.avirOpt {
  animation-name: cngT1;
  animation-duration: 1s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
.dvirOpt {
  animation-name: cngT2;
  animation-duration: 1s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}
@keyframes cngT1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cngT2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arms {
  opacity: 1;
}

.spores::before,
.spores::after {
  content: "";
  display: block;
  width: 300%;
  height: 6%;
  position: absolute;
  z-index: 2;
  background-color: #c22;
  margin-left: -100%;
}
.spores::before {
  border-radius: 35% 35% 100% 100%;
  top: 0;
}
.spores::after {
  border-radius: 100% 100% 35% 35%;
  bottom: 0;
}

.arms > div:nth-child(2) {
  transform: rotate(45deg);
}

.arms > div:nth-child(3) {
  transform: rotate(90deg);
}
.arms > div:nth-child(4) {
  transform: rotate(135deg);
}

.mask {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #fff;
  z-index: 2;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px 10px 30px 30px;
  opacity: 0;
}

.mask:hover {
  z-index: 0;
  background-color: #777;
}
.lines {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  position: relative;
  width: 160px;
  height: 5px;
  background-color: #aaa;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  margin-bottom: 25px;
}

.avirMask {
  animation-name: cngMask1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
}
.dvirMask {
  animation-name: cngMask2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
}

@keyframes cngMask1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cngMask2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.maskband {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: auto;
  z-index: 0;
}
.bands {
  width: 140px;
  height: 80px;
  border: 5px solid #fff;
  border-radius: 20% 20% 50% 50%;
}
